extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Ex2
      p.lead
        | Seja Bem-Vindo ao exercício Número 2 do teste de DAW2020!!
      p 
        b Aceder a Classes: 
          a(href='/classes') Classes
      p 
        b Termos de índice: 
          a(href='/termosIndice') Termos de índice
